iframe{
	border: groove 1px blue;
	padding: 50px;
	margin: 30px;
	border-radius: 10px;
}
body{
	background: linear-gradient(50deg,blue,cyan);
    background-image:url("space 2.png");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
img{border: groove 1px blue;
	padding: 50px;
	margin: 30px;
	border-radius: 10px;
}
	
